<module>
	<rawname>bulkhandler</rawname>
	<repo>supported</repo>
	<name>Bulk Handler</name>
	<description></description>
	<version>13.0.1</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<menuitems>
		<bulkhandler>Bulk Handler</bulkhandler>
	</menuitems>
	<depends>
		<version>ge2.10alpha0</version>
	</depends>
	<info/>
	<changelog>

	</changelog>
	<supported>
		<version>13.0</version>
	</supported>
</module>
