<module>
	<rawname>bulkextensions</rawname>
	<name>Bulk Extensions</name>
	<description>Bulk Extensions uses CSV files to import and export extensions.</description>
	<version>2.5.0.2</version>
	<type>tool</type>
	<category>Third Party Addon</category>
	<menuitems>
		<bulkextensions>Bulk Extensions</bulkextensions>
	</menuitems>
	<depends>
		<version>ge2.5</version>
	</depends>
	<location></location>
	<info></info>
	<changelog>
		*2.5.0.2* New feature - Enforce extension range restrictions for admin users - thanks dinhtrung
			  New feature - Email notification for new accounts
		*2.5.0.1* changed includes to include_once
		*2.5.0* Version for FreePBX 2.5
		*0.2.1*	Beta support for FreePBX 2.5 (unreleased)
		*0.2.0*	New feature - Export Extensions Documented all supported Extension fields Minor code clean ups
		*0.1.1*	Fixed bad path and error in tar file
		*0.1*	First release
	</changelog>
	<md5sum></md5sum>
</module>

