<module>
	<rawname>bulkhandler</rawname>
	<repo>standard</repo>
	<name>Bulk Handler</name>
	<description/>
	<version>13.0.7</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<menuitems>
		<bulkhandler needsenginedb="yes">Bulk Handler</bulkhandler>
	</menuitems>
	<depends>
		<version>13.0</version>
	</depends>
	<info/>
	<changelog>
		*13.0.6* Require Asterisk to be running
		*13.0.6* FREEPBX-9712 add progress bar and use action bar
		*13.0.5* Fix invalid looping errors
		*13.0.4* FREEPBX-9594 slightly better name for exported file
		*13.0.3* Fixes to functionality
		*13.0.2* Initial release to the world!
	</changelog>
	<supported>
		<version>13.0</version>
	</supported>
</module>
